<div class="container">
  <!-- <h1>Watchlist...</h1> -->
  <div class="row justify-content-center">
    <div class="div.col-md-6">
      <%= link_to  'Watchlist', movie_selections_path, class: "btn m-3 active-tab" %>
      <%= link_to  'Already watched', watched_movie_selections_path, class: "btn m-3" %>
      <%= link_to  'Favourites', favourites_movie_selections_path, class: "btn m-3" %>
    </div>
  </div>
</div>


<div class= "smallcard-space">
  <div class="smallcards">

    <% @movie_selections.each do |movie_selection| %>
    <div class= "d-flex flex-column align-items-center">
        <%= link_to movie_path(movie_selection.movie) do %>
          <div class="smallcard-category relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path movie_selection.movie.poster.key %>)">
          </div>
        <% end %>


        <%= link_to movie_selection_path(movie_selection, attribute: :watched), method: :put do %>
          <p class="text-center "> Add to watched list</p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>




