 <div class="container">
  <div class="search-bar-header">
    <h1>Find your next <strong>favourite</strong> movie...</h1>

      <div class="positionleft">
        <%= form_tag movies_path, method: :get do %>
          <div class="search-bar d-flex">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control" %>
            <%= submit_tag "Search", class: "btn ml-3 active-tab" %>
          </div>
        <% end %>
      </div>

  </div>

    <div class="platform container">
    <div class="platformfixed">
      <div class="btn-container btn-sticky">
        <% Movie.platform.values.each do |platform| %>
          <div class="logo">
            <%= link_to movies_path(platform: platform) do %>
              <span class="platform-btn mb-3"><%= image_tag "#{platform}.jpg", style: "border-radius: 5px", class: "icon-image #{'icon-show' if params[:platform] == platform }"%></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
      <div class="movie-list container">
        <div class= "card-space">
          <div class="cards">
            <% @movies.each do |movie| %>
              <%= link_to movie_path(movie) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path movie.poster.key %>)">
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
