<style type="text/css">
  @keyframes load {
    0% { width: 0; }
    100% { width: <%= @movie.rating %>%; }
  }
</style>
<div class="container">

  <div class="show-info d-flex">

    <div class= mr-4>

      <div class="show-btn-container d-flex justify-content-around align-items-center">
        <!-- Add btn -->
        <div>
          <% if current_user.movies.include?(@movie) %>
            <p style="padding-top:15px">This movie is already in your Watchlist !</p>
          <% else %>
            <%= link_to 'Add to Watchlist', movie_movie_selections_path(@movie), method: :post, class: "btn m-3 active-tab" %>
          <% end %>
        </div>
        <!-- Add recommendation btn -->
        <div>
          <div class="btn m-3 active-tab" data-toggle="modal" data-target="#exampleModal">
            Recommend to a friend
          </div>
        </div>
      </div>

      <!-- poster -->
      <div class="show-poster d-flex">
        <%= image_tag @movie.poster, alt: "", class: "movie-poster-show" %>
      </div>
      <!-- poster -->
    </div>



    <div class="show-details">
      <h1 class="movie-title"> <%= @movie.title %> </h1>
      <br>
      <h4 class="movie-director"> <i class="fas fa-video"></i> <%=  @movie.director %> </h4>
      <p> <i class="fas fa-clock"></i> <%= @movie.runtime %> min </p>
      <p> <i class="fas fa-hourglass"></i> <%= @movie.year %> </p>
      <p> <%= @movie.description %> </p>


      <div class= "d-flex align-items-center">

        <% genres = @movie.genre.split(", ") %>
        <% genres.each do |genre| %>
          <p class="btn-gender"> <%= genre %> </p>
        <% end %>

        <%= link_to movies_path(platform: @movie.platform) do %>
          <span class="platform-btn m-3"><%= image_tag "#{@movie.platform}.jpg", style: "border-radius: 50%" %></span>
        <% end %>
      </div>


      <!-- progress bar -->
      <div class="chart">
          <div class="bar"></div>
          <span id="value1"><%= @movie.rating %></span>
      <br>
      </div>
      <!-- progress bar -->

      <!-- trailer -->
      <br>
      <% if @movie.youtube_id.present? %>
        <iframe width="560" height="315" src="<%= "https://www.youtube.com/embed/#{@movie.youtube_id}" %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>


    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content modal-recommend">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recommend this movie to your friend</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <%= simple_form_for [@movie, @recommendation], defaults: {input_html:{class: "form-control-recommend"}} do |f|%>
          <%= f.association :recommendee, value_method: :id, label_method: :first_name%>

          <%= f.submit class: "btn btn-reco" %>

        <% end %>
      </div>

  </div>
</div













