<div class="d-flex">
  <div class="box d-flex align-items-center">
    <h1> <%= "#{current_user.first_name} #{current_user.last_name}" %> </h1>
    <img class="avatar-large" alt="avatar-large" src="https://www.italymagazine.com/sites/default/files/story/fellini.jpg" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <%= link_to "Friends", movies_path, class: "btn active-tab m-3" %>
  </div>
  <div>
    <div>

        <div><h3>Friends recommended... </h3>

          <% @suggested_movies.each do |suggested_movie| %>

            <%= link_to movie_path(suggested_movie.movie) do  %>
              <div class="smallcard-category relative m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path suggested_movie.poster.key %>)">
              </div>
            <% end %>
          <% end %>
        </div>

        <div>
          <h3> <%= current_user.first_name %> recommended...</h3>

          <div class="d-flex">
            <% @recommended_movies.each do |recommended_movie| %>

              <%= link_to movie_path(recommended_movie) do  %>
                <div class="smallcard-category relative m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path recommended_movie.poster.key %>)">
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>


  </div>
</div>
