
<div class="box d-flex align-items-center">
  <h1> <%= "#{current_user.first_name} #{current_user.last_name}" %> </h1>
  <img class="avatar-large" alt="avatar-large" src=<%= "#{}" %> />
  <p> <%= current_user.bio %> </p>
  <%= link_to 'Friends', movies_path, class: "btn active-tab m-3" %>
</div>




        <div class="user-list d-flex">
          <% @users.each do |user| %>
            <div class="user-card">
              <% if current_user.friends?(user) %>
                <%= link_to "Unfriend #{user.first_name}", friend_path(Friend.where(user: current_user, friend: user).or(Friend.where(user: user, friend: current_user)).first), method: :delete  %>
                <% else %>
                <%= link_to "Add #{user.first_name}" , user_friends_path(current_user, friend: user), method: :post %>
              <% end %>
             </div>
          <% end %>
        </div>
</div>
