<!DOCTYPE html>
<html>
  <head>
    <title>FELLINI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div style= "min-height:calc(100vh - 116px)">
    <%= yield %>
    </div>

      <!-- footer -->
    </div>
      <div class="footer">
        <div class="footer-links">
          <a target="_blank" href="https://giphy.com/gifs/memecandy-LmNwrBhejkK9EFP504"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://giphy.com/gifs/memecandy-hrRJ41JB2zlgZiYcCw"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://giphy.com/gifs/cat-kitten-computer-3oKIPnAiaMCws8nOsE"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-copyright">
          <i class="fas fa-heart"></i>  Borja, Nick and Beatriz <i class="fas fa-heart"></i>
        </div>
      </div>
      <!-- end of footer -->

  </body>
</html>


